<!DOCTYPE html>
<html>
<head>
  <title>CareBnB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <%= javascript_include_tag 'application' %>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 <%= csrf_meta_tag %>
</head>

<body>

  <header>
    <nav class="navbar navbar-inverse">
      <div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h3>Care<span>BnB</span></h3></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/">Listings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/listings/new">Add Property</a></li>
            <li><a href="/users/:id">Profile</a></li>
            <li>
              <% if signed_in? -%>
                <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
              <% else -%>
                <%= link_to t(".sign_in"), sign_in_path %>
              <% end -%>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>

  <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Care<span>BnB</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          路
          <a href="#">Blog</a>
          路
          <a href="#">About</a>
          路
          <a href="#">Faq</a>
          路
          <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">CareBnB &copy; 2016</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>1 CareBnB Drive</span> Kuala Lumpur, Malaysia</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1 555 123456</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@carebnb.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About Us</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>

</body>
</html>
